.ui-tabs {
  font-family: var(--tx-generic-font-primary-font-family), var(--tx-generic-font-primary-generic-family);
  font-size: 17px;
  font-weight: var(--tx-generic-font-primary-weight-regular);
  width: 100%;
}

.ui-tabs__navigation {
  align-items: flex-end;
  border: none;
  display: flex;
  flex-direction: row;
  padding: 0 20px;
}

.ui-tabs__content-item {
  display: none;
}

.ui-tabs__content-item_active {
  display: block;
}