.ui-sliding-panel-header {
  background-color: var(--tx-generic-color-blank);
  border-bottom: var(--tx-sliding-panel-header-border-bottom);
  flex-shrink: 0;
  height: var(--tx-sliding-panel-header-height);
  min-height: var(--tx-sliding-panel-header-height);
  position: relative;
  text-align: center;
}

h3.ui-sliding-panel-header__title {
  flex-grow: 1;
  font-weight: var(--tx-generic-font-primary-weight-bold);
  line-height: var(--tx-sliding-panel-header-height);
  margin: 0;
  padding: 0 var(--tx-sliding-panel-header-padding);
}

.ui-sliding-panel-header__close-button {
  background: none;
  border: none;
  box-shadow: none;
  color: var(--tx-generic-color-secondary-darker);
  cursor: pointer;
  font-family: var(--tx-generic-font-primary-generic-family);
  font-size: var(--tx-sliding-panel-header-close-button-font-size);
  font-weight: var(--tx-generic-font-primary-weight-bold);
  height: var(--tx-sliding-panel-header-close-button-height);
  line-height: var(--tx-sliding-panel-header-close-button-height);
  outline: 0;
  overflow: visible;
  padding: 0;
  text-align: right;
  width: var(--tx-sliding-panel-header-close-button-width);

  &:hover {
    color: var(--tx-generic-color-secondary-darkest);
  }
}

.ui-sliding-panel-header__left-block,
.ui-sliding-panel-header__right-block {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.ui-sliding-panel-header__left-block {
  left: 0;
  margin-left: 15px;
}

.ui-sliding-panel-header__right-block {
  margin-right: 15px;
  right: 0;
}

button.ui-sliding-panel-header__left-block-back {
  align-items: center;
  background: transparent;
  border: 0;
  color: var(--tx-generic-color-text-dark);
  cursor: pointer;
  display: flex;
  font-family: var(--tx-generic-font-secondary-font-family);
  font-size: var(--tx-sliding-panel-header-back-block-font-size);
  font-weight: var(--tx-generic-font-secondary-variants-bold);
  outline: 0;
}

.ui-sliding-panel-header__left-block-back-icon {
  color: var(--tx-generic-color-secondary-darker);
  display: inline-block;
  font-size: var(--tx-sliding-panel-header-back-block-icon-font-size);
  margin-right: 4px;
  transform: translateY(-2px);

  &:before {
    content: '‹';
  }
}

.ui-sliding-panel-header__left-block-back-text {
  line-height: 30px;
  white-space: nowrap;
}
