.ui-sliding-panel-header {
  align-items: center;
  background-color: var(--tx-generic-color-blank);
  border-bottom: solid 2px var(--tx-generic-color-secondary-darker);
  display: flex;
  flex-shrink: 0;
  height: 65px;
  min-height: 65px;
  text-align: center;
}

h3.ui-sliding-panel-header__title {
  line-height: 65px;
  margin: 0;
  padding: 0 50px;
  width: 100%;
}

.ui-sliding-panel-header__close-button {
  background: none;
  border: none;
  box-shadow: none;
  color: var(--tx-generic-color-secondary-darker);
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 32px;
  font-weight: 600;
  height: 25px;
  line-height: 25px;
  margin-right: var(--tx-sliding-panel-panel-padding);
  outline: 0;
  overflow: visible;
  padding: 0;
  text-align: right;
  width: 20px;

  &:hover {
    color: var(--tx-generic-color-secondary-darkest);
  }
}
