.ui-messageBox {
  background-color: var(--tx-messagebox-background-color);
  border-radius: var(--tx-messagebox-border-radius);
  color: var(--tx-messagebox-color);
  font-family: var(--tx-generic-font-secondary-font-family), var(--tx-generic-font-secondary-generic-family);
  font-weight: var(--tx-generic-font-primary-weight-regular);
  padding: var(--tx-messagebox-padding);
}

.ui-messageBox_error {
  background-color: var(--tx-messagebox-background-color-error);
}
