{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "travix/base",
    "travix/react"
  ],
  "globals": {
    "__base": true,
    "assert": true,
    "beforeEach": true,
    "describe": true,
    "enzyme": true,
    "expect": true,
    "it": true,
    "jest": true,
    "React": true,
    "ReactDOM": true
  },
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "max-len": [2, {"code": 120, "comments": 120, "tabWidth": 4}],
    "react/react-in-jsx-scope": 0,
    "no-else-return": 0
  }
}
