.ui-input {
  border-radius: $tx-input-border-radius;
  border: 2px solid $tx-input-border-color;
  color: $tx-input-color;
  font-size: $tx-input-font-size;
  min-width: 100%;
  outline: 0;
  padding: 15px;
  vertical-align: middle;
  width: 100%;
}

.ui-input_focused {
  border-color: $tx-input-focused-border-color;
}
