.ui-input {
  border-radius: var(--tx-input-border-radius);
  border: 2px solid var(--tx-input-border-color);
  color: var(--tx-input-color);
  font-size: var(--tx-input-font-size);
  min-width: 100%;
  outline: 0;
  padding: 15px;
  vertical-align: middle;
  width: 100%;
}

.ui-input_focused {
  border-color: var(--tx-input-focused-border-color);
}
