.ui-datepicker {
  display: block;
  position: relative;

  .ui-input_datepicker {
    box-sizing: border-box;
    cursor: pointer;
  }
}

.ui-datepicker__calendar-wrapper {
  background: var(--tx-datepicker-calendar-wrapper-background-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 0 4px var(--tx-datepicker-calendar-wrapper-box-shadow);
  display: none;
  left: 0;
  max-height: 80vw;
  max-width: 80vw;
  padding: 23px;
  position: absolute;
  top: 46px;
  z-index: 10;

  .ui-datepicker_active & {
    display: flex;
  }
}
