
.ui-price {
  color: var(--tx-generic-color-primary-dark);
  display: inline-block;
  font-family: var(--tx-generic-font-primary-font-family), var(--tx-generic-font-primary-generic-family);
}

.ui-price__additional-text-block {
  color: var(--tx-generic-color-text);
  display: flex;
  font-family: var(--tx-generic-font-secondary-font-family), var(--tx-generic-font-secondary-generic-family);
  justify-content: center;
  line-height: 15px;
}

.ui-price__discount {
  color: var(--tx-generic-color-text-lighter);
  display: flex;
  font-weight: 500;
  justify-content: center;
  margin-bottom: 3px;
  text-decoration: line-through;
}

.ui-price__value-delimiter {
  align-items: flex-end;
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 auto;
}

.ui-price__currency {
  display: flex;
  flex: 0 0 auto;

  &.ui-price__currency_left {
    margin-right: 5px;
    order: 1;
  }

  &.ui-price__currency_right {
    margin-left: 5px;
    order: 5;
  }
}

.ui-price__decimals {
  align-self: flex-start;
  display: flex;
  flex: 0 0 auto;
  order: 3;
}

.ui-price__asterisk {
  align-self: flex-start;
  display: flex;
  flex: 0 0 auto;
  order: 4;
}

.ui-price__integers {
  display: flex;
  font-weight: var(--tx-generic-font-primary-weight-bold);
  flex: 0 0 auto;
  order: 2;
}

.ui-price__underline {
  background-color: var(--tx-generic-color-accent);
  display: flex;
  flex: 1 1 auto;
  order: 6;
}

.ui-price_size_xs {
  .ui-price__currency {
    font-size: var(--tx-price-xsmall-font-size-currency);
  }

  .ui-price__decimals {
    font-size: var(--tx-price-xsmall-font-size-decimals);
  }

  .ui-price__asterisk {
    font-size: var(--tx-price-xsmall-font-size-decimals);
  }

  .ui-price__integers {
    font-size: var(--tx-price-xsmall-font-size-integers);
    line-height: var(--tx-price-xsmall-line-height-integers);
  }

  .ui-price__underline {
    height: var(--tx-price-height-underline);
    margin-top: var(--tx-price-margin-top-underline);
  }

  .ui-price__additional-text-block {
    font-size: var(--tx-price-xsmall-font-size-additional-text);
  }

  .ui-price__discount {
    font-size: var(--tx-price-xsmall-font-size-discount);
  }
}

.ui-price_size_s {
  .ui-price__currency {
    font-size: var(--tx-price-small-font-size-currency);
  }

  .ui-price__decimals {
    font-size: var(--tx-price-small-font-size-decimals);
  }

  .ui-price__asterisk {
    font-size: var(--tx-price-small-font-size-decimals);
  }

  .ui-price__integers {
    font-size: var(--tx-price-small-font-size-integers);
    line-height: var(--tx-price-small-line-height-integers);
  }

  .ui-price__underline {
    height: var(--tx-price-height-underline);
    margin-top: var(--tx-price-margin-top-underline);
  }

  .ui-price__additional-text-block {
    font-size: var(--tx-price-small-font-size-additional-text);
  }

  .ui-price__discount {
    font-size: var(--tx-price-small-font-size-discount);
  }
}

.ui-price_size_m {
  .ui-price__currency {
    font-size: var(--tx-price-medium-font-size-currency);
  }

  .ui-price__decimals {
    font-size: var(--tx-price-medium-font-size-decimals)
  }

  .ui-price__asterisk {
    font-size: var(--tx-price-medium-font-size-decimals);
  }

  .ui-price__integers {
    font-size: var(--tx-price-medium-font-size-integers);
    line-height: var(--tx-price-medium-line-height-integers);
  }

  .ui-price__underline {
    height: var(--tx-price-height-underline);
    margin-top: var(--tx-price-margin-top-underline);
  }

  .ui-price__additional-text-block {
    font-size: var(--tx-price-medium-font-size-additional-text);
  }

  .ui-price__discount {
    font-size: var(--tx-price-medium-font-size-discount);
  }
}

.ui-price_size_l {
  .ui-price__currency {
    font-size: var(--tx-price-large-font-size-currency);
  }

  .ui-price__decimals {
    font-size: var(--tx-price-large-font-size-decimals)
  }

  .ui-price__asterisk {
    font-size: var(--tx-price-large-font-size-decimals);
  }

  .ui-price__integers {
    font-size: var(--tx-price-large-font-size-integers);
    line-height: var(--tx-price-large-line-height-integers);
  }

  .ui-price__underline {
    height: var(--tx-price-height-underline);
    margin-top: var(--tx-price-margin-top-underline);
  }

  .ui-price__additional-text-block {
    font-size: var(--tx-price-large-font-size-additional-text);
  }

  .ui-price__discount {
    font-size: var(--tx-price-large-font-size-discount);
  }
}

.ui-price_size_xl {
  .ui-price__currency {
    font-size: var(--tx-price-xlarge-font-size-currency);
  }

  .ui-price__decimals {
    font-size: var(--tx-price-xlarge-font-size-decimals)
  }

  .ui-price__asterisk {
    font-size: var(--tx-price-xlarge-font-size-decimals);
  }

  .ui-price__integers {
    font-size: var(--tx-price-xlarge-font-size-integers);
    line-height: var(--tx-price-xlarge-line-height-integers);
  }

  .ui-price__underline {
    height: var(--tx-price-xlarge-height-underline);
    margin-top: var(--tx-price-margin-top-underline);
  }

  .ui-price__additional-text-block {
    font-size: var(--tx-price-xlarge-font-size-additional-text);
  }

  .ui-price__discount {
    font-size: var(--tx-price-xlarge-font-size-discount);
  }
}
