@import "../../themes/theme";

$tx-button-shadow-outer-params: null !default;
$button-shadow: null !default;

@if $tx-button-shadow-outer-params {
  $button-shadow: $tx-button-shadow-inner-params $tx-button-shadow-inner-color, $tx-button-shadow-outer-params $tx-button-shadow-outer-color;
} @else {
  $button-shadow: $tx-button-shadow-inner-params $tx-button-shadow-inner-color;
}

$tx-button-shadow-text-params: null !default;
$text-shadow: null !default;

@if $tx-button-shadow-text-params {
  $text-shadow: $tx-button-shadow-text-params $tx-button-shadow-text-color;
}

.ui-button {
  cursor: pointer;
  border-radius: $tx-button-size-border-radius;
  outline: none;
  transition: all .1s ease-in-out;
}

.ui-button--variation_default {
  font-family: $tx-generic-font-primary-font-family, $tx-generic-font-primary-generic-family;
  font-weight: $tx-generic-font-primary-weight-bold;
  font-size: 23px;
  padding: 15px 24px;
  border: none;
  color: $tx-button-color-text;
  background-color: $tx-button-color-bg-bottom;
  background: linear-gradient(to bottom, $tx-button-color-bg-top 0, $tx-button-color-bg-bottom 100%);
  box-shadow: $button-shadow;
  text-shadow: $text-shadow;
  position: relative;
  top: 0;

  &:focus,
  &:hover {
    box-shadow: 0 5px $tx-button-color-border, $tx-button-shadow-outer-hover-params $tx-button-shadow-outer-color;
    outline: none;
    top: -2px;
    transition: all .1s ease-in-out;
  }

  &:active {
    box-shadow: 0 2px $tx-button-color-border;
    top: 1px;
    transition: all .1s ease-in-out;
  }
}

.ui-button--disabled_true,
.ui-button--disabled_true:focus,
.ui-button--disabled_true:hover,
.ui-button--disabled_true:active {
  color: $tx-button-color-disabled-text;
  cursor: default;
  background-color: $tx-button-color-disabled-bg-bottom;
  background: linear-gradient(to bottom, $tx-button-color-disabled-bg-top 0, $tx-button-color-disabled-bg-bottom 100%);
  border-bottom: 3px solid $tx-button-color-disabled-border-bottom;
  box-shadow: 0 2px $tx-button-color-disabled-border;
  position: static;
}

.ui-button--size_xs {
  font-size: 15px;
  padding: 3px 6px;
}
.ui-button--size_s {
  font-size: 18px;
  padding: 5px 10px;
}

.ui-button--size_m {
  font-size: 22px;
  padding: 0 24px;
  line-height: 40px;
}

.ui-button--size_l {
  font-size: 26px;
  padding: 12px 17px;
}
.ui-button--size_xl {
  font-size: 28px;
  padding: 15px 20px;
}
