.ui-button {
  cursor: pointer;
  outline: none;
  transition: all .1s ease-in-out;
}

.ui-button_variation_default {
  font-family: var(--tx-generic-font-primary-font-family), var(--tx-generic-font-primary-generic-family);
  font-weight: var(--tx-generic-font-primary-weight-bold);
  font-size: 23px;
  padding: 15px 24px;
  border: none;
  border-radius: var(--tx-button-size-border-radius);
  color: var(--tx-button-color-text);
  background-color: var(--tx-button-color-bg-bottom);
  background: linear-gradient(to bottom, var(--tx-button-color-bg-top) 0, var(--tx-button-color-bg-bottom) 100%);
  box-shadow: var(--tx-button-shadow);
  text-shadow: var(--tx-button-text-shadow);
  position: relative;
  top: 0;

  span:before {
    color: var(--tx-button-icon-color-normal);
  }

  &:focus,
  &:hover {
    box-shadow: 0 5px var(--tx-button-shadow-inner-color), var(--tx-button-shadow-outer-hover-params) var(--tx-button-shadow-outer-color);
    outline: none;
    top: -2px;
    transition: all .1s ease-in-out;

    span:before {
      color: var(--tx-button-icon-color-hover);
    }
  }

  &:active {
    box-shadow: 0 2px var(--tx-button-shadow-inner-color);
    top: 1px;
    transition: all .1s ease-in-out;

    span:before {
      color: var(--tx-button-icon-color-active);
    }
  }
}

.ui-button_variation_ghost {
  background: var(--tx-button-ghost-background);
  border: var(--tx-button-ghost-border);
  border-radius: var(--tx-button-ghost-border-radius);
  font-family: var(--tx-button-ghost-font-family);
  color: var(--tx-button-ghost-color);
  &:hover,
  &:focus {
    border-color: var(--tx-button-ghost-hover-border-color);
    color: var(--tx-button-ghost-hover-color);
  }
  &:active {
    border-color: var(--tx-button-ghost-border-color);
    color: var(--tx-button-ghost-color);
  }
}

.ui-button_disabled_true,
.ui-button_disabled_true:focus,
.ui-button_disabled_true:hover,
.ui-button_disabled_true:active {
  color: var(--tx-button-color-disabled-text);
  cursor: default;
  background-color: var(--tx-button-color-disabled-bg-bottom);
  background: linear-gradient(to bottom, var(--tx-button-color-disabled-bg-top) 0, var(--tx-button-color-disabled-bg-bottom) 100%);
  border-bottom: 3px solid var(--tx-button-color-disabled-border-bottom);
  box-shadow: 0 2px var(--tx-button-color-disabled-border);
  position: static;
}

.ui-button_size_xs {
  font-size: 15px;
  padding: 3px 6px;
}
.ui-button_size_s {
  font-size: 18px;
  padding: 5px 10px;
}

.ui-button_size_m {
  font-size: 22px;
  padding: 0 24px;
  line-height: 40px;
}

.ui-button_size_l {
  font-size: 26px;
  padding: 12px 17px;
}
.ui-button_size_xl {
  font-size: 28px;
  padding: 15px 20px;
}

.ui-button_variation_link {
  display: inline-block;
  background: transparent;
  border: none;
  padding: 0;
  line-height: normal;

  color:  var(--tx-button-link-color);
  text-decoration:  var(--tx-button-link-text-decoration);
  font-family: var(--tx-button-link-font-family);
  font-size: var(--tx-button-link-font-size);
  font-weight: var(--tx-button-link-font-weight);

  &:hover {
    color:  var(--tx-button-link-hover-color);
    text-decoration:  var(--tx-button-link-hover-text-decoration);
    font-family: var(--tx-button-link-hover-font-family);
    font-weight: var(--tx-button-link-hover-font-weight);
  }
}