.ui-tooltip {
  color: red;
  width: 200px;
  min-height: 40px;
  height: 150px;
  background-color: green;
  position: relative;
}

.ui-tooltip_top::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  right: 15px;
  bottom: -7px;
  background-color: green;
}

.ui-tooltip_bottom::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  right: 15px;
  top: -7px;
  background-color: green;
}

.ui-tooltip_right::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  left: -7px;
  bottom: 15px;
  background-color: green;
}

.ui-tooltip_left::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  right: -7px;
  bottom: 15px;
  background-color: green;
}

.ui-tooltip_active {
  display: flex;
}

.ui-tooltip_inactive {
  display: none;
}
