.ui-tooltip {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(black, 0.4);
  max-width: 1000px;
  min-height: 60px;
  padding: 12px;
  position: absolute;
  z-index: 1;
}

.ui-tooltip:before {
  background-color: white;
  content: '';
  height: 15px;
  position: absolute;
  transform: rotate(45deg);
  width: 15px;
  z-index: 2;
}

.ui-tooltip_top::before {
  bottom: -7px;
  box-shadow: 2px 2px 6px -2px rgba(black, 0.4);
  right: 15px;
}

.ui-tooltip_bottom::before {
  box-shadow: -2px -2px 6px -2px rgba(black, 0.4);
  right: 15px;
  top: -7px;
}

.ui-tooltip_right::before {
  bottom: 15px;
  box-shadow: -2px 2px 6px -2px rgba(black, 0.4);
  left: -7px;
}

.ui-tooltip_left::before {
  bottom: 15px;
  box-shadow: 2px -2px 6px -2px rgba(black, 0.4);
  right: -7px;
}

.ui-tooltip_inactive {
  visibility: hidden;
}
