.ui-google-map__custom-marker {
  align-items: center;
  background-color: var(--tx-generic-color-active);
  border-radius: var(--tx-generic-border-radius);
  display: flex;
  justify-content: center;
  min-height: 50px;
  min-width: 50px;
  overflow: visible;
  transform: translate(-50%, -100%);

  &:before {
    color: var(--tx-generic-color-blank);
    content: '☻';
    font-size: 30px;
  }

  &:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--tx-generic-color-active);
    bottom: -7px;
    content: '';
    position: absolute;
  }
}
