.ui-collapse-item {
  margin-bottom: 1px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.ui-collapse-item__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .35s;
}

.ui-collapse-item__input {
  display: none;

  &:checked ~ .ui-collapse-item__content {
    max-height: 500px;
  }

  & + .ui-collapse-item__label::before {
    content: "\25BC";
  }

  &:checked {
    & + .ui-collapse-item__label {
      color: $tx-collapse-item-label-active-color;

      &::before {
        transform: rotateX(180deg);
      }
    }
  }
}

.ui-collapse-item__label {
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 3;
  padding-left: 48px;
  position: relative;

  &::before {
    display: block;
    height: 48px;
    left: 0;
    line-height: 3;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all .35s;
    width: 48px;
  }
}
