
.ui-list {
  font-family: var(--tx-generic-font-secondary-font-family), var(--tx-generic-font-secondary-generic-family);

  &.ui-list_align_vertical {
    .ui-list__item {
      display: flex;
      line-height: var(--tx-list-line-height);

      &:before {
        content: "•";
        color: var(--tx-list-bullets-color);
        display: inline-block;
        font-size: 22px;
        vertical-align: bottom;
        width: 1em;
      }
    }
  }

  &.ui-list_align_horizontal {
    padding: 0;

    .ui-list__item {
      display: inline-block;
      padding: 5px 10px;
    }
  }

  &.ui-list_no-bullets {
    padding: 0;

    .ui-list__item {
      display: block;
      &:before {
        display: none;
      }
    }
  }

  .ui-list__item {
    color: var(--tx-list-color);
  }
}
