
.ui-autocomplete {
  font-family: var(--tx-generic-font-primary-font-family), var(--tx-generic-font-primary-generic-family);
  position: relative;
}

.ui-autocomplete__popunder {
  background-color: var(--tx-autocomplete-background-color);
  box-shadow: var(--tx-autocomplete-box-shadow);
  display: none;
  left: 0;
  margin-top: -2px;
  max-height: 300px;
  overflow-x: overlay;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 3;

  .ui-autocomplete_open & {
    display: block;
  }
}

.ui-autocomplete__popunder-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
