.ui-autocomplete-item {
  color: var(--tx-autocomplete-item-color);
  cursor: pointer;
  padding: 10px 22px;

  &:not(.ui-autocomplete-item_title):hover {
    background-color: var(--tx-autocomplete-item-active-background-color);
    color: var(--tx-autocomplete-item-active-color);

    .ui-autocomplete-item_highlight {
      color: var(--tx-autocomplete-item-active-color);
    }
  }
}

.ui-autocomplete-item_active {
  background-color: var(--tx-autocomplete-item-active-background-color);
  color: var(--tx-autocomplete-item-active-color);

  .ui-autocomplete-item_highlight {
    color: var(--tx-autocomplete-item-active-color);
  }
}

.ui-autocomplete-item_title {
  background-color: var(--tx-autocomplete-item-title-background-color);
  color: var(--tx-autocomplete-item-title-color);
  cursor: default;
}

.ui-autocomplete-item_highlight {
  color: var(--tx-autocomplete-item-highlight-color);
  font-weight: bold;
}
