.ui-modal {
  -webkit-tap-highlight-color: transparent;
  display: none;
  height: 100%;
  left: 0;
  max-height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--tx-modal-z-index);

  &.ui-modal_active,
  &.ui-modal_open {
    display:block;
  }
}

.ui-modal__overlay {
  background-color: var(--tx-modal-overlay-background-color);
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: var(--tx-modal-z-index) - 20;
}

.ui-modal__container {
  background-color: var(--tx-modal-container-background-color);
  box-shadow: 0 5px 10px var(--tx-modal-container-box-shadow-color);
  height: auto;
  left: 50%;
  max-height: 90%;
  max-width: 720px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 10%);
  transition: all 200ms ease-in-out;
  width: 100%;
  z-index: var(--tx-modal-z-index) - 10;

  .ui-modal_fullscreen & {
    transform: translate(0, 10%);
  }

  .ui-modal_fullscreen & {
    height: 100%;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    top: 0;
    width: 100%;
  }
}

.ui-modal_open.ui-modal_active {
  .ui-modal__overlay {
    opacity: var(--tx-modal-overlay-background-opacity);
  }
  .ui-modal__container {
    opacity: 1;
  }

  .ui-modal__container {
    transform: translate(-50%, -50%);

    .ui-modal_fullscreen & {
      transform: none;
    }
  }

  &.ui-modal_fullscreen {
    .ui-modal__container {
      transform: none;
    }
  }
}

.ui-modal__close-button {
  align-items: center;
  background: transparent;
  border: 0;
  color: var(--tx-modal-close-button-color);
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  font-size: 13px;
  justify-content: center;
  outline: 0;
  position: absolute;
  right: 24px;
  transition: color .1s ease-in-out;
  z-index: var(--tx-modal-z-index);

  &:before {
    color: var(--tx-modal-close-button-icon-color);
    content: '✖';
    font-size: 20px;
    margin-left: 9px;
    transition: inherit;
  }

  &:hover {
   color: var(--tx-modal-close-button-hover-color);

    &:before {
      color: var(--tx-modal-close-button-hover-color);
    }
  }
}

.ui-modal__header {
  align-items: center;
  border-bottom: 2px solid var(--tx-modal-content-devider-color);
  box-sizing: border-box;
  color: var(--tx-modal-color-dark);
  display: flex;
  flex-shrink: 0;
  font-family: var(--tx-generic-font-secondary-font-family), var(--tx-generic-font-secondary-generic-family);
  min-height: 13px;
  padding: 24px var(--tx-modal-content-padding-left-right);
}

.ui-modal__title,
.ui-modal__header h3 {
  font-family: var(--tx-generic-font-secondary-font-family), var(--tx-generic-font-secondary-generic-family);
  font-size: 18px;
  max-height: 20vh;
  min-height: 120px;
  padding: 22px var(--tx-modal-content-padding-left-right);
}

.ui-modal__title {
  flex-basis: 100%;
  font-weight: 500;
  height: auto;
  margin: 0;
  text-align: center;
  vertical-align: baseline;
}

.ui-modal__content {
  -webkit-overflow-scrolling: touch;
  background-color: var(--tx-generic-color-secondary);
  height: 100%;
  max-height: calc(54vh);
  box-sizing: border-box;
  overflow-y: auto;
  padding: 12px;
}

.ui-modal__footer {
  border-top: 2px solid var(--tx-modal-content-devider-color);
  box-sizing: border-box;
  flex-shrink: 0;
  max-height: 15vh;
  padding: 22px var(--tx-modal-content-padding-left-right);
}

.ui-modal_size_small {
  .ui-modal__container {
    max-width: 480px;
  }
  .ui-modal__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 12px;
  }
}
