$ui-modal__content__padding-left-right: 24px;
$ui-modal__content-devider__color: #d5e8f8;
$ui-modal__bg-color: rgba(0,75,148,.65);
$ui-modal__z-index: 100;
$ui-modal__close-button__color: #29425b;
$ui-modal__close-button__color_hover: #00b0ff;
$ui-modal__container__bg-color: #fff;
$ui-modal__container__box-shadow-color: rgba(0,0,0,.3);
$ui-modal__header__color: $tx-modal-color-dark; //$primary-dark !default;

$small-max: 768px;

.ui-global--noscroll {
  overflow: hidden;
}

.ui-modal {
  -webkit-tap-highlight-color: transparent;
  display: none;
  height: 100%;
  left: 0;
  max-height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $ui-modal__z-index;

  &.ui-modal_active,
  &.ui-modal_open, {
    display:block;
  }
}

.ui-modal__overlay {
  background-color: $ui-modal__bg-color;
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: $ui-modal__z-index - 20;
}

.ui-modal__container {
  background-color: $ui-modal__container__bg-color;
  box-shadow: 0 5px 10px $ui-modal__container__box-shadow-color;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  max-height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translate(0, 10%);
  transition: all 200ms ease-in-out;
  width: 100%;
  z-index: $ui-modal__z-index - 10;

  .ui-modal_fullscreen & {
    height: 100%;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    top: 0;
    width: 100%;
  }

  @media screen and (min-width: $small-max) {
    height: auto;
    left: 50%;
    max-height: 90%;
    max-width: 788px;
    min-width: 500px;
    top: 50%;
    transform: translate(-50%, 10%);
    width: auto;

    .ui-modal_fullscreen & {
      transform: translate(0, 10%);
    }
  }
}

.ui-modal_open.ui-modal_active {
  .ui-modal__overlay,
  .ui-modal__container {
    opacity: 1;
  }

  .ui-modal__container {
    transform: translateY(0);

    .ui-modal_fullscreen & {
      transform: none;
    }

    @media screen and (min-width: $small-max) {
      transform: translate(-50%, -50%);
    }
  }

  &.ui-modal_fullscreen {
    .ui-modal__container {
      transform: none;
    }
  }
}

.ui-modal__close-button {
  background: transparent;
  border: 0;
  color: $ui-modal__close-button__color;
  cursor: pointer;
  line-height: 20px;
  outline: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: $ui-modal__z-index;

  &:after {
    content: 'x';
    font-size: 20px;
  }

  &:hover {
   color: #00b0ff;
  }
}

.ui-modal__header {
  border-bottom: 2px solid $ui-modal__content-devider__color;
  flex-shrink: 0;
  color: $tx-modal-color-dark;
  padding: 22px $ui-modal__content__padding-left-right;
}

.ui-modal__title {
  font-size: 21px;
  font-weight: 600;
}

.ui-modal__content {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  padding: 22px $ui-modal__content__padding-left-right;
}

.ui-modal__footer {
  border-top: 2px solid $ui-modal__content-devider__color;
  flex-shrink: 0;
  padding: 22px $ui-modal__content__padding-left-right;
}
