.ui-modal-content-block {
  background-color: var(--tx-generic-color-blank);
  border-radius: var(--tx-generic-border-radius);
  color: var(--tx-generic-color-text-dark);
  font-family: var(--tx-generic-font-secondary-font-family), var(--tx-generic-font-secondary-generic-family);
  flex: 1 0 auto;
}

.ui-modal-content-block__title-block {
  border-bottom: 2px solid var(--tx-generic-color-secondary);
  padding: 20px;
}

.ui-modal-content-block__title {
  color: var(--tx-modal-color-dark);
  font-family: var(--tx-generic-font-secondary-font-family), var(--tx-generic-font-secondary-generic-family);
  font-size: 16px;
  font-weight: 500;
}

.ui-modal-content-block__subtitle {
  font-size: 14px;
  margin-top: 10px;
}

.ui-modal-content-block__container {
  border-radius: var(--tx-generic-border-radius);
  font-size: 14px;
  line-height: 1.4;
  overflow-y: auto;
  padding: 24px;
}

.ui-modal-content-block__title+.ui-modal-content-block__container {
  border-radius: 0 0 var(--tx-generic-border-radius) var(--tx-generic-border-radius);
  margin-top: 2px;
}

.ui-modal-content-block+.ui-modal-content-block {
  border-radius: 0 0 var(--tx-generic-border-radius) var(--tx-generic-border-radius);
  border-top: 2px solid var(--tx-generic-color-secondary);
}

.ui-modal-content-block:not(:last-of-type) {
  border-radius: var(--tx-generic-border-radius) var(--tx-generic-border-radius) 0 0;
}

.ui-modal-content-block:not(:last-of-type):not(:first-of-type) {
  border-radius: 0;
}

.ui-modal_size_small .ui-modal-content-block__container {
  padding: 24px;
}
