.ui-modal-content-block {
  background-color: var(--tx-generic-color-blank);
  border-radius: 8px;
}

.ui-modal-content-block__title {
  font-weight: 600;
  border-bottom: 2px solid var(--tx-modal-content-background-color);
  padding: 24px;
}

.ui-modal-content-block__container {
  border-radius: 8px;
  overflow-y: auto;
  padding: 24px;
}

.ui-modal-content-block__title+.ui-modal-content-block__container {
  border-radius: 0 0 8px 8px;
  margin-top: 2px;
}

.ui-modal-content-block+.ui-modal-content-block {
  border-radius: 0 0 8px 8px;
  border-top: 2px solid var(--tx-modal-content-background-color);
}

.ui-modal-content-block:not(:last-of-type) {
  border-radius: 8px 8px 0 0;
}

.ui-modal-content-block:not(:last-of-type):not(:first-of-type) {
  border-radius: 0;
}

.ui-modal_size_small .ui-modal-content-block__container {
    padding: 24px;
}
