$select-input-bg: $tx-dropdown-input-background-color !default;
$select-input-border-color: $tx-dropdown-input-border-color !default;
$select-input-border-width: 2px !default;
$select-input-border-radius: 4px !default;
$select-input-height: 53px !default;

$select-padding-horizontal: 15px;

$select-option-color: $tx-dropdown-option-color !default;

$select-arrow-color: $tx-dropdown-arrow-color !default;

.ui-dropdown {
  font-family: $tx-generic-font-primary-font-family, $tx-generic-font-primary-generic-family;

  .Select-control {
    cursor: pointer;

    &:hover {
      border-color: $tx-dropdown-select-control-border-color;
    }
  }

  .Select-value-label {
    font-size: 16px;
  }

  .Select-menu-outer {
    border: none;
    box-shadow: 0 0 5px 0 rgba($tx-dropdown-select-menu-outer-box-shadow, .18);
    left: 0;
    margin-top: -3px;
  }

  .Select-option {
    color: $tx-dropdown-select-option-color;
    padding: 10px 22px;

    &:first-child {
      &:after, &:before {
        content: '';
        position: absolute;
      }

      &:after {
        border-bottom: 9px solid $tx-dropdown-option-arrow-border-color;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        right: 14px;
        top: -9px;
      }

      &:before {
        border-bottom: 12px solid rgba($tx-dropdown-option-arrow-border-shadow-color, .07);
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        content: '';
        position: absolute;
        right: 11px;
        top: -12px;
      }
    }

    &:hover {
      background-color: $tx-dropdown-select-option-hover-background-color;
    }

    &.is-selected {
      background-color: $tx-dropdown-select-option-is-selected-background-color;
      color: $tx-dropdown-select-option-is-selected-color;
    }
  }

  &.Select--multi .Select-value {
    margin-top: 0;
    vertical-align: middle;
  }

  .Select-arrow-zone {
    border-left: dashed 1px $tx-dropdown-select-arrow-zone-border-color-left;
    color: $tx-dropdown-select-arrow-zone-color;
    margin: 7px 0;
    padding: 0;
    width: 45px;
  }

  .Select-arrow {
    border: 0;
    height: 21px;
    overflow: visible;
    position: relative;
    transform: rotate(90deg);
    vertical-align: middle;
    width: 18px;

    &:before {
      content: '\25b6';
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.is-open {
    .Select-arrow {
      transform: rotate(270deg);
    }
  }

  &.Select--single:hover {
    .Select-control .Select-value .Select-value-label {
      color: $tx-dropdown-select-arrow-zone-color;
    }

    .Select-arrow-zone {
      color: $tx-dropdown-select-arrow-zone-color;
    }
  }

  &.Select--multi:hover {
    .Select-arrow-zone {
      color: $tx-dropdown-select-arrow-zone-hover-color;
    }
  }
}

.ui-dropdown_filter {
  .Select-control,
  .Select-input {
    height: 28px;
  }

  &.is-open .Select-control,
  .Select-control {
    background: none;
    border-color:  $tx-dropdown-filter-select-control-border-color;
  }

  .Select-placeholder {
    color: $tx-dropdown-filter-select-placeholder-color;
    font-size: 13px;
    font-weight: bold;
    line-height: 28px; // should equal to .Select-control, .Select-input height
    padding-left: 10px;
    position: static;
  }

  &.Select--multi {
    .Select-multi-value-wrapper {
      display: flex;
    }

    .Select-input {
      margin-left: 0;
      vertical-align: middle;
    }
  }

  &.cars-dropdown .Select-arrow-zone {
    width: 32px;
  }

  .Select-input > input {
    padding: 0;
  }

  .Select-menu-outer {
    box-shadow: 0 0 3px rgba($tx-dropdown-filter-select-menu-outer-box-shadow, .5);
    box-sizing: content-box;
    margin-top: -2px;
    padding: 0;
    width: 200px;
  }

  &.ui-dropdown_state-active {
    .Select-control {
      background-color: $tx-dropdown-active-select-control-background-color;
      border-color: $tx-dropdown-active-select-control-border-color;
    }
  }
}

.ui-dropdown-filter__option {
  .ui-checkbox {
    align-items: center;
    color: $tx-dropdown-filter-option-checkbox-color;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    min-height: 40px;
    padding: 5px 15px 5px 20px;

    .ui-checkbox__text {
      height: 16px;
      margin-top: 0;
    }

    &:hover {
      color: $tx-dropdown-filter-option-checkbox-hover-color;
    }
  }

  &.ui-dropdown-filter__option_is-disabled {
    .ui-checkbox {
      color: rgba($tx-dropdown-filter-option-checkbox-disabled-color, .3);
      cursor: default;
    }
  }

  &:hover:not(.ui-dropdown-filter__option_is-disabled) {
    background-color: $tx-dropdown-filter-option-hover-and-not-disabled-background-color;

    .ui-checkbox {
      color: $tx-dropdown-filter-option-hover-and-not-disabled-checkbox-color;
    }
  }
}
